section.header-image {
  background-image: url('../images/038_38.JPG');
  margin-top: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  height: 55vw;
  width: 100%;
}
header.top-nav {
  height: 6vw;
  background-color: rgba(255,255,255,0.3);
  top: 0;
  position: fixed;
  z-index: 99999999;
  float: right;
  width: 100%;
}
div.contact-text {
  background-color: rgba(255,255,255,0);
  margin: 23vw auto;
  position: relative;
  text-align: center;
  color: white;
}
p.contact-p{
  font-size: 1.5vw;
}
h2.email-line {
  font-size: 2vw;
}
ul.top-site-nav {
  margin-top: 0;
}

.navbar-default {
  height: 5vw;
  margin-top: 0;
  background-color: #ffffff !important;
  border: none !important;
}

.work-header-cont {
  position: relative;
  margin: 0 auto;
}
a.site-nav {
  text-decoration: none !important;
  color: #ffffff !important;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 3vw;
  margin-top: 0;

}
a.about-link {
  text-decoration: none !important;
  color: #ffffff !important;
  font-family: Helvetica;
  font-size: 1.5vw;
  padding-right: 3vw;
}

h1.work-header {
  text-decoration: none !important;
  color: #940E8E !important;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 10vw;
  margin-top: 0;
}

ul {
  margin-top: 0;
}

li.site-nav {
  display: block;
  position: relative;
  text-align: center;
  float: right;
  padding: 1vw;
  margin: auto;
  margin-top: 0;
  margin-right: 1vw;
  font-size: 1vw;
  color: #ffffff !important;
  font-family: Helvetica Bold;
  background-color: none;
  z-index: 999999;
}
section.work-flow {
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 10vw;
  margin-bottom: 10vw;
  overflow: visible;
  display: block;
  position: relative;
}
div.gallery-cont{
  background-image: url('../images/IMG_4801.jpg');
  margin-top: 60vw;
  position: relative;
  height: 50vw;
  width: 100%;
  color: white;
  overflow: scroll;
  background-repeat: no-repeat;
}
div.gal-text-box {
  background-color: rgba(200, 216, 251, 0.9);
  width: 50vw;
  float: left;
  margin-left: 3vw;
  margin-top: 5vw;
  margin-bottom: auto;
}
div.gal-text-box-din {
  background-color: rgba(222, 82, 85, 0.9);
  width: 50vw;
  color: white;
  float: left;
  margin-left: 3vw;
  margin-top: 5vw;
  margin-bottom: auto;
}
div.gal-text-box-bike {
  background-color: rgba(222, 82, 85, 0.9);
  width: 50vw;
  color: white;
  float: left;
  margin-left: 3vw;
  margin-top: 5vw;
  margin-bottom: auto;
}
div.gal-text-box-plant {
  background-color: rgba(222, 82, 85, 0.9);
  width: 50vw;
  color: white;
  float: left;
  margin-left: 3vw;
  margin-top: 5vw;
  margin-bottom: auto;
}
h1.gallery-header {
  font-family: Helvetica;
  text-align: left;
  margin-left: 2vw;
  color: white;
  padding-right: 2vw;
}
p.gallery-p {
  font-family: Helvetica;
  text-align: left;
  margin-left: 2vw;
  color: white;
  padding-right: 2vw;
}
h1.contact {
  text-align: center;
  font-size: 2vw;
}
div.about-text {
  background-color: rgba(255,255,255,0);
  margin: 15vw auto;
  margin-bottom: 10vw;
  position: relative;
  text-align: center;
  color: white;
}
h1, h2.about-header {
  font-family: Helvetica;
  text-align: left;
  font-size: 2vw;
  margin-left: 2vw;
  color: white;
  padding-right: 2vw;
}
p.about-p {
  font-family: Helvetica;
  text-align: left;
  margin-left: 2vw;
  font-size: 1.5vw;
  color: white;
  padding-right: 2vw;
}

div.gallery-cont-2{
  background-image: url('../images/popcorn.jpg');
  margin-top: 10vw;
  position: relative;
  height: 30vw;
  width: 100%;
  overflow: scroll;
  background-repeat: no-repeat;
}
div.gallery-cont-3{
  background-image: url('../images/plants.png');
  margin-top: 10vw;
  position: relative;
  height: 30vw;
  width: 100%;
  overflow: scroll;
  background-repeat: no-repeat;
}
div.gallery-cont-4{
  background-image: url('../images/bike.jpg');
  margin-top: 10vw;
  position: relative;
  height: 30vw;
  width: 100%;
  overflow: scroll;
  background-repeat: no-repeat;
}
div.gallery-cont-5{
  background-image: url('../images/biz.jpg');
  margin-top: 10vw;
  position: relative;
  height: 30vw;
  width: 100%;
  overflow: scroll;
  background-repeat: no-repeat;
}

div.gallery-still {
  float: right;
  display: block;
}

img.gall {
  height: 20vw;
  float: right;
}

button.gallery-code {
  background-color: #81A5F6;
  color: #263149;
  display: inline;
  float: none;
  margin-left: 2vw;
  margin-bottom: 2vw;
  border-radius: 1vw;
  border: none;
}
button.gallery-code-din {
  background-color: #ce272b;
  color: #5b1113;
  display: inline;
  float: none;
  margin-left: 2vw;
  margin-bottom: 2vw;
  border-radius: 1vw;
  border: none;
}
a {
  text-decoration: none !important;
  color: #000000;
}
a.btn-gal-txt {
  color: #ffffff;
  text-decoration: none !important;
  text-align: center;
}
