div.header-image {
  background-image: url('../images/038_38.JPG');
  background-repeat: no-repeat;
  height: 70vw;
  width: 100%;
}

.navbar-default {
  height: 5vw;
  background-color: #ffffff !important;
  border: none !important;
}

.main-navbar{
  z-index: 999999;
}

.work-header-cont {
  position: relative;
  margin: 0 auto;
}
/*#name-logo {
  font-size: 2vw;
  font-family: Helvetica;
  color: #ffffff;
  float: left;
  display: block;
  position: relative;
  text-align: center;
  margin: auto;
  margin-right: 1vw;
  background-color: none;
  z-index: 999999;
}*/
a.site-nav {
  text-decoration: none !important;
  color: #ffffff !important;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 3vw;

}

h1.work-header {
  text-decoration: none !important;
  color: #940E8E !important;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 10vw;
}

li.site-nav {
  display: block;
  position: relative;
  text-align: center;
  float: right;
  padding: 1vw;
  margin: auto;
  margin-right: 1vw;
  font-size: 1vw;
  color: #ffffff !important;
  font-family: Helvetica Bold;
  background-color: none;
  z-index: 999999;
}

.main-nav:hover ul {
  display: block;
}

img.gall {
  height: 20vw;
}

button.gallery-code {
  background-color: #940E8E;
  color: #ffffff;
  display: inline;
  float: none;
}
a.btn-gal-txt {
  color: #ffffff;
  text-decoration: none !important;
}
.hero-image {
  width: 100%;
  top: 0;
  left: 0;
  clip: rect(0px, 3000px, 850px, 0px);
  position: fixed;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 0 0 0 0;
}

button {
  display: none;
  float: right;
}

.carousel-slide {
  width: 75%;
  height: 10vw;
  margin: 5vw auto;
}

.img-fluid {
  max-width: 100%;
  height: 40vw !important;
}

.carousel-control-next {
  color: #ffffff;
}
.d-block {
  height: 100%;
}
@media only screen and (max-width: 500px) {
  button {
    display: inline-block;
  }
  .main-nav ul {
    display: none;
  }
  div.main-nav {
    left: 0;
    top: 0;
    margin: 0 auto;
    position: fixed;
    height: 100px;
    width: 100%;
    background: white;
    z-index: 9;
    display: inline-block;
  }
  li.site-nav {
    display: block;
    float: none;
    padding: 10px 10px 10px 10px;
    z-index: 9999999;
  }
  li.social-icons {
    display: block;
    float: none;
    padding: 10px 10px 10px 10px;
    z-index: 999999;
  }
}
